In [6]:
import pandas as pd
import requests
import json
from datetime import datetime
from os import environ

In [4]:


token = wt.weather_token
key =

# This creates a token
# url = "  https://api.synopticdata.com/v2/auth?apikey="
headers = {
    # "Authorization": f"Bearer {key}",
    "stid" : "fps",
    "recent" : "60",
    "token" : token,
    "units" : "english"

}
# r = requests.get(url, headers = headers).text
# print(r)
# response = json.loads(r)
# response = response['results']
# response = response[0]
# print(response)
# list(headers.items())

NameError: name 'wt' is not defined

In [ ]:
# w_url = "https://api.synopticdata.com/v2/stations/timeseries?state=ut&recent=120&token={}".format(token)

In [3]:
weather_url = "https://api.synopticdata.com/v2/stations/timeseries"
# print(headers)
# r = requests.get(weather_url)
# r.status_code
r = requests.get(weather_url, params=headers)
print(r.url)
# print(r.json())

https://api.synopticdata.com/v2/stations/timeseries?stid=fps&recent=60&token=164fced1696048879a1015ca02f47bf2&units=english

In [4]:
return_dict = r.json()
type(return_dict)

dict

In [5]:
# return_dict.get('STATION')
return_dict.keys()

dict_keys(['STATION', 'SUMMARY', 'QC_SUMMARY', 'UNITS'])

In [6]:
return_dict['SUMMARY']['NUMBER_OF_OBJECTS']

1

In [5]:
return_dict['STATION']

NameError: name 'return_dict' is not defined

In [10]:
# return_dict['STATION'][0]['OBSERVATIONS']

In [8]:
weather_db = pd.DataFrame(return_dict['STATION'][0]['OBSERVATIONS'])

In [9]:
weather_db.head()

,date_time,air_temp_set_1,relative_humidity_set_1,wind_speed_set_1,wind_direction_set_1,wind_gust_set_1,pressure_set_1,solar_radiation_set_1,net_radiation_sw_set_1,net_radiation_lw_set_1,...,surface_temp_set_1,soil_temp_set_1,precip_accum_five_minute_set_1,volt_set_1,altimeter_set_1d,sea_level_pressure_set_1d,wet_bulb_temp_set_1d,wind_cardinal_direction_set_1d,wind_chill_set_1d,dew_point_temperature_set_1d
0,2024-11-21T03:55:00Z,41.46,31.56,19.51,154.70,23.01,847.43,0.0,-2.07,-33.44,...,39.69,36.63,0.0,12.74,30.31,1025.81,31.23,SSE,31.86,13.24
1,2024-11-21T04:00:00Z,41.39,31.56,19.59,155.75,22.86,847.43,0.0,-2.05,-33.38,...,39.66,36.62,0.0,12.73,30.31,1025.83,31.17,SSE,31.75,13.19
2,2024-11-21T04:05:00Z,41.32,31.90,20.34,155.12,24.19,847.39,0.0,-2.29,-37.80,...,39.46,36.60,0.0,12.73,30.31,1025.81,31.17,SSE,31.46,13.37
3,2024-11-21T04:10:00Z,41.29,31.83,21.82,156.09,24.34,847.35,0.0,-2.15,-36.66,...,39.51,36.60,0.0,12.73,30.30,1025.77,31.14,SSE,31.08,13.30
4,2024-11-21T04:15:00Z,41.13,32.65,21.29,158.24,25.18,847.35,0.0,-2.38,-39.30,...,39.20,36.58,0.0,12.73,30.30,1025.84,31.15,SSE,30.99,13.73

In [12]:
return_dict['UNITS']

{'position': 'ft',
 'elevation': 'ft',
 'air_temp': 'Fahrenheit',
 'relative_humidity': '%',
 'wind_speed': 'knots',
 'wind_direction': 'Degrees',
 'wind_gust': 'knots',
 'pressure': 'Millibars',
 'solar_radiation': 'W/m**2',
 'net_radiation_sw': 'W/m**2',
 'net_radiation_lw': 'W/m**2',
 'net_radiation': 'W/m**2',
 'surface_temp': 'Fahrenheit',
 'soil_temp': 'Fahrenheit',
 'precip_accum_five_minute': 'Inches',
 'volt': 'volts',
 'altimeter': 'INHG',
 'sea_level_pressure': 'Millibars',
 'wet_bulb_temp': 'Fahrenheit',
 'wind_chill': 'Fahrenheit',
 'dew_point_temperature': 'Fahrenheit'}

In [14]:
weather_db.head()

,date_time,air_temp_set_1,relative_humidity_set_1,wind_speed_set_1,wind_direction_set_1,wind_gust_set_1,pressure_set_1,solar_radiation_set_1,net_radiation_sw_set_1,net_radiation_lw_set_1,...,surface_temp_set_1,soil_temp_set_1,precip_accum_five_minute_set_1,volt_set_1,altimeter_set_1d,sea_level_pressure_set_1d,wet_bulb_temp_set_1d,wind_cardinal_direction_set_1d,wind_chill_set_1d,dew_point_temperature_set_1d
0,2024-11-15T03:30:00Z,44.39,40.02,5.70,169.43,7.28,837.55,0.0,-4.93,-56.01,...,39.34,42.47,0.0,12.74,29.95,1012.74,34.86,S,40.66,21.38
1,2024-11-15T03:35:00Z,44.15,38.18,6.89,162.54,8.19,837.52,0.0,-4.46,-55.45,...,39.32,42.41,0.0,12.74,29.95,1012.79,34.34,SSE,39.67,20.05
2,2024-11-15T03:40:00Z,44.33,41.18,6.14,156.53,8.38,837.42,0.0,-5.04,-56.96,...,39.41,42.36,0.0,12.74,29.95,1012.61,35.01,SSE,40.32,22.01
3,2024-11-15T03:45:00Z,43.80,39.61,7.07,158.60,9.49,837.37,0.0,-4.67,-57.41,...,39.03,42.30,0.0,12.73,29.95,1012.74,34.32,SSE,39.15,20.61
4,2024-11-15T03:50:00Z,44.76,33.64,9.02,146.69,11.88,837.28,0.0,-3.32,-59.66,...,40.28,42.25,0.0,12.73,29.94,1012.28,34.02,SSE,39.40,17.64

In [15]:
weather_db.dtypes

date_time                          object
air_temp_set_1                    float64
relative_humidity_set_1           float64
wind_speed_set_1                  float64
wind_direction_set_1              float64
wind_gust_set_1                   float64
pressure_set_1                    float64
solar_radiation_set_1             float64
net_radiation_sw_set_1            float64
net_radiation_lw_set_1            float64
net_radiation_set_1               float64
surface_temp_set_1                float64
soil_temp_set_1                   float64
precip_accum_five_minute_set_1    float64
volt_set_1                        float64
altimeter_set_1d                  float64
sea_level_pressure_set_1d         float64
wet_bulb_temp_set_1d              float64
wind_cardinal_direction_set_1d     object
wind_chill_set_1d                 float64
dew_point_temperature_set_1d      float64
dtype: object

In [17]:
pd.DataFrame.to_sql?

Signature:
pd.DataFrame.to_sql(
    self,
    name: 'str',
    con,
    *,
    schema: 'str | None' = None,
    if_exists: "Literal['fail', 'replace', 'append']" = 'fail',
    index: 'bool_t' = True,
    index_label: 'IndexLabel | None' = None,
    chunksize: 'int | None' = None,
    dtype: 'DtypeArg | None' = None,
    method: "Literal['multi'] | Callable | None" = None,
) -> 'int | None'
Docstring:
Write records stored in a DataFrame to a SQL database.

Databases supported by SQLAlchemy [1]_ are supported. Tables can be
newly created, appended to, or overwritten.

Parameters
----------
name : str
    Name of SQL table.
con : sqlalchemy.engine.(Engine or Connection) or sqlite3.Connection
    Using SQLAlchemy makes it possible to use any DB supported by that
    library. Legacy support is provided for sqlite3.Connection objects. The user
    is responsible for engine disposal and connection closure for the SQLAlchemy
    connectable. See `here                 <https://docs.sqlalchemy.org/en/20/core/connections.html>`_.
    If passing a sqlalchemy.engine.Connection which is already in a transaction,
    the transaction will not be committed.  If passing a sqlite3.Connection,
    it will not be possible to roll back the record insertion.

schema : str, optional
    Specify the schema (if database flavor supports this). If None, use
    default schema.
if_exists : {'fail', 'replace', 'append'}, default 'fail'
    How to behave if the table already exists.

    * fail: Raise a ValueError.
    * replace: Drop the table before inserting new values.
    * append: Insert new values to the existing table.

index : bool, default True
    Write DataFrame index as a column. Uses `index_label` as the column
    name in the table. Creates a table index for this column.
index_label : str or sequence, default None
    Column label for index column(s). If None is given (default) and
    `index` is True, then the index names are used.
    A sequence should be given if the DataFrame uses MultiIndex.
chunksize : int, optional
    Specify the number of rows in each batch to be written at a time.
    By default, all rows will be written at once.
dtype : dict or scalar, optional
    Specifying the datatype for columns. If a dictionary is used, the
    keys should be the column names and the values should be the
    SQLAlchemy types or strings for the sqlite3 legacy mode. If a
    scalar is provided, it will be applied to all columns.
method : {None, 'multi', callable}, optional
    Controls the SQL insertion clause used:

    * None : Uses standard SQL ``INSERT`` clause (one per row).
    * 'multi': Pass multiple values in a single ``INSERT`` clause.
    * callable with signature ``(pd_table, conn, keys, data_iter)``.

    Details and a sample callable implementation can be found in the
    section :ref:`insert method <io.sql.method>`.

Returns
-------
None or int
    Number of rows affected by to_sql. None is returned if the callable
    passed into ``method`` does not return an integer number of rows.

    The number of returned rows affected is the sum of the ``rowcount``
    attribute of ``sqlite3.Cursor`` or SQLAlchemy connectable which may not
    reflect the exact number of written rows as stipulated in the
    `sqlite3 <https://docs.python.org/3/library/sqlite3.html#sqlite3.Cursor.rowcount>`__ or
    `SQLAlchemy <https://docs.sqlalchemy.org/en/20/core/connections.html#sqlalchemy.engine.CursorResult.rowcount>`__.

    .. versionadded:: 1.4.0

Raises
------
ValueError
    When the table already exists and `if_exists` is 'fail' (the
    default).

See Also
--------
read_sql : Read a DataFrame from a table.

Notes
-----
Timezone aware datetime columns will be written as
``Timestamp with timezone`` type with SQLAlchemy if supported by the
database. Otherwise, the datetimes will be stored as timezone unaware
timestamps local to the original timezone.

Not all datastores support ``method="multi"``. Oracle, for example,
does not support multi-value insert.

References
----------
.. [1] https://docs.sqlalchemy.org
.. [2] https://www.python.org/dev/peps/pep-0249/

Examples
--------
Create an in-memory SQLite database.

>>> from sqlalchemy import create_engine
>>> engine = create_engine('sqlite://', echo=False)

Create a table from scratch with 3 rows.

>>> df = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3']})
>>> df
     name
0  User 1
1  User 2
2  User 3

>>> df.to_sql(name='users', con=engine)
3
>>> from sqlalchemy import text
>>> with engine.connect() as conn:
...    conn.execute(text("SELECT * FROM users")).fetchall()
[(0, 'User 1'), (1, 'User 2'), (2, 'User 3')]

An `sqlalchemy.engine.Connection` can also be passed to `con`:

>>> with engine.begin() as connection:
...     df1 = pd.DataFrame({'name' : ['User 4', 'User 5']})
...     df1.to_sql(name='users', con=connection, if_exists='append')
2

This is allowed to support operations that require that the same
DBAPI connection is used for the entire operation.

>>> df2 = pd.DataFrame({'name' : ['User 6', 'User 7']})
>>> df2.to_sql(name='users', con=engine, if_exists='append')
2
>>> with engine.connect() as conn:
...    conn.execute(text("SELECT * FROM users")).fetchall()
[(0, 'User 1'), (1, 'User 2'), (2, 'User 3'),
 (0, 'User 4'), (1, 'User 5'), (0, 'User 6'),
 (1, 'User 7')]

Overwrite the table with just ``df2``.

>>> df2.to_sql(name='users', con=engine, if_exists='replace',
...            index_label='id')
2
>>> with engine.connect() as conn:
...    conn.execute(text("SELECT * FROM users")).fetchall()
[(0, 'User 6'), (1, 'User 7')]

Use ``method`` to define a callable insertion method to do nothing
if there's a primary key conflict on a table in a PostgreSQL database.

>>> from sqlalchemy.dialects.postgresql import insert
>>> def insert_on_conflict_nothing(table, conn, keys, data_iter):
...     # "a" is the primary key in "conflict_table"
...     data = [dict(zip(keys, row)) for row in data_iter]
...     stmt = insert(table.table).values(data).on_conflict_do_nothing(index_elements=["a"])
...     result = conn.execute(stmt)
...     return result.rowcount
>>> df_conflict.to_sql(name="conflict_table", con=conn, if_exists="append", method=insert_on_conflict_nothing)  # doctest: +SKIP
0

For MySQL, a callable to update columns ``b`` and ``c`` if there's a conflict
on a primary key.

>>> from sqlalchemy.dialects.mysql import insert
>>> def insert_on_conflict_update(table, conn, keys, data_iter):
...     # update columns "b" and "c" on primary key conflict
...     data = [dict(zip(keys, row)) for row in data_iter]
...     stmt = (
...         insert(table.table)
...         .values(data)
...     )
...     stmt = stmt.on_duplicate_key_update(b=stmt.inserted.b, c=stmt.inserted.c)
...     result = conn.execute(stmt)
...     return result.rowcount
>>> df_conflict.to_sql(name="conflict_table", con=conn, if_exists="append", method=insert_on_conflict_update)  # doctest: +SKIP
2

Specify the dtype (especially useful for integers with missing values).
Notice that while pandas is forced to store the data as floating point,
the database supports nullable integers. When fetching the data with
Python, we get back integer scalars.

>>> df = pd.DataFrame({"A": [1, None, 2]})
>>> df
     A
0  1.0
1  NaN
2  2.0

>>> from sqlalchemy.types import Integer
>>> df.to_sql(name='integers', con=engine, index=False,
...           dtype={"A": Integer()})
3

>>> with engine.connect() as conn:
...   conn.execute(text("SELECT * FROM integers")).fetchall()
[(1,), (None,), (2,)]
File:      /opt/anaconda3/envs/Snow/lib/python3.12/site-packages/pandas/core/generic.py
Type:      function

In [16]:
weather_db.to_sql()

TypeError: NDFrame.to_sql() missing 2 required positional arguments: 'name' and 'con'

In [120]:
headers

{'stid': 'fps',
 'recent': '60',
 'token': '164fced1696048879a1015ca02f47bf2',
 'units': 'english'}

In [121]:
headers['stid'] = 'ATH20'
headers

{'stid': 'ATH20',
 'recent': '60',
 'token': '164fced1696048879a1015ca02f47bf2',
 'units': 'english'}

In [123]:
r = requests.get(weather_url, params=headers)
print(r.url)
# print(r.json())

https://api.synopticdata.com/v2/stations/timeseries?stid=ATH20&recent=60&token=164fced1696048879a1015ca02f47bf2&units=english

In [ ]:
return_dict = r.json()
return_dict